.wrapper {
    width: 100%;
    min-height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    color: hsl(0, 0%, 100%);
    z-index: 1;
}

.movieSelector {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.moviewWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.movies {
    display: flex;
}

.wrapper .buttonWrapper {
    display: flex;
    padding-bottom: 15px;
}

@media only screen and (max-width: 375px) {}

@media only screen and (min-width: 576px) {}

@media only screen and (max-width: 600px) {

    .movieSelector {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 5px;
    }
    .moviewWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}