.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: rgb(23,33,41); */
    /* background-color: hsl(207, 26%, 17%); */
    color: hsl(0, 0%, 100%);
    z-index: 1;
}

.movieSelector {
    width: 99%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    /* padding-top: 45px; */
}

.moviewWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* justify-content: space-evenly */
}

.movies {
    display: flex;
    flex-basis: calc(25% - 10px);
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #173e5864;
    /* background-color: #3498db; */
    color: white;
    padding-top: 20px;
    /* padding: 20px; */
    box-sizing: border-box;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 10px;
}

.movies:hover {
    background-color: #666;
}

.wrapper .buttonWrapper {
    display: flex;
    padding-bottom: 15px;
}

@media only screen and (max-width: 375px) {}

@media only screen and (min-width: 576px) {}

@media only screen and (max-width: 600px) {

    .movieSelector {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 5px;
    }
    .moviewWrapper {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}