.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

.uploadWrapper {
    width: 50%;
    min-height: 300px;
    background-color: rgb(23, 33, 41);
    border: dashed 3px rgba(38, 47, 129, 0.687);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.uploadWrapper .dragZone {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.filmStrip {
    position: absolute;
    bottom: 0;
    left: 0;
}

.imageBackground {
    width: 100px;
}

.btnUpload {
    width: 80px;
    height: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btnUpload:hover {
    color: rgb(182, 166, 166);
}

.icon {
    font-size: 100px;
    font-weight: 700;
    color: inherit;
}

.uploadWrapper .textWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Play, Arial, Helvetica, sans-serif;
}

.uploadWrapper .textWrapper h3 {
    font-size: 25px;
}

.uploadWrapper .textWrapper p {
    font-size: 19px;
    color: #ffffff70;
}

input[type="file"] {
    display: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.customFileUpload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.moviesWrapper {
    background-color: rgb(23, 33, 41);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 3px solid rgba(187, 153, 153, 0.1)
}

.moviesWrapper .movies {
    padding: 10px;
}

@media only screen and (max-width: 375px) {}

@media only screen and (min-width: 576px) {}

@media only screen and (max-width: 600px) {
    
    .uploadWrapper {
        width: 94%;
    }

    .moviesWrapper {
        width: 94%;
        height: auto;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}