.dropdown {
    width: 180px;
    position: relative;
    cursor: pointer;
    z-index: 10;
}

.dropdownWrapper {
    display: flex;
    flex-direction: row;

}

.dropdown .selectButton {
    all: unset;
    width: 100%;
    padding: 18px 30px 18px 30px;
    display: flex;
    flex-direction: row;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    background-color: hsl(210, 21.8%, 21.6%);
    color: hsl(0, 0%, 100%);
    font-weight: 300;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
}

.dropdown .selectButton:hover {
    background-color: hsl(210, 30%, 26%);
}

.dropdown .optionsWrapper {
    width: 180px;
    position: absolute;
    display: flex;
    text-align: start;
    /* justify-content: center; */
    flex-direction: column;
    background-color: hsl(210, 21.8%, 21.6%);
    color: hsl(0, 0%, 100%);
    border-radius: 4px;
    top: 51px;
    /* top: 54px; */
}

.dropdown .optionsWrapper .checkboxesWrapper {
    padding-top: 5px;
    padding-bottom: 5px;
}

.dropdown .buttonWrapper {
    width: 180px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.dropdown .buttonOptions {
    /* all: unset; */
    width: 100%;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    margin: 0 auto;
}

@media only screen and (max-width: 375px) {}

@media only screen and (min-width: 576px) {}

@media only screen and (max-width: 600px) {

    .dropdown {
        width: 94%;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}