/* .cardDark {
    max-width: 300px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 4px;
    background-color: hsl(210, 21.8%, 21.6%);
    box-shadow: 2px 2px 2px rgba(45, 44, 44, 0.194);
} */

.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 285px;
    font-size: 14px;
    background-color: #173e5864;
    color: white;
    box-sizing: border-box;
    transition: background-color 0.3s, box-shadow 0.3s;
    /* padding: 25px 30px 10px 30px; */
    border-radius: 10px;
    cursor: -webkit-grab; cursor: grab;
    /* padding-bottom: 15px; */
    /* gap: 5px; */

    /* border: 3px solid red; */
}

.cardWrapper:hover {
    background-color: #666;
}

.cardWrapper .detailsWrapper {
    width: 200px;
    padding: 25px 30px 0 30px;
    /* display: flex;
    flex-direction: column; */
    /* border: 3px solid rgb(60, 255, 0); */
}

.cardWrapper .flagWrapper {
    position: relative;
    display: flex;

    /* border: 3px solid greenyellow; */
}

.cardWrapper .flagWrapper .rating {
    position: absolute;
    display: inline-block;
    background-color: rgb(236,187,31);
    color: rgba(0, 0, 0, 0.639);
    font-size: 13px;
    font-weight: 700;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 30px;
    z-index: 3;
}

.cardWrapper .cardImage {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    /* border-top-left-radius: 6px;
    border-top-right-radius: 6px; */
    margin-bottom: 10px;
    filter: drop-shadow(0 0 0.75rem rgba(243, 230, 230, 0.338));
    /* cursor: pointer; */
}

.cardWrapper .infoWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 5px;
    /* padding: 20px; */

    /* border: 3px solid white; */
}

.cardWrapper .infoWrapper h4 {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
    /* padding-top: 5px;
    padding-bottom: 25px; */
}

.cardWrapper .infoWrapper p {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
    color:#ffffff70;
    /* padding-bottom: 10px; */
}

.cardWrapper button {
    all: unset
}

.cardWrapper .deleteIcon {
    font-size: 35px;
    color: rgb(177, 50, 50);
    /* color: rgb(206, 56, 56); */
    cursor: pointer;
    transition: 0.3s;
}

.cardWrapper .deleteIcon:hover {
    color: rgba(159, 34, 34, 0.8);
    /* color: rgba(206, 56, 56, 0.8); */
}

.cardWrapper .buttonsWrapper {
    /* border: 3px solid greenyellow; */
}

.cardWrapper .editIcon {
    font-size: 35px;
    color: rgba(166, 166, 215, 0.804);
    cursor: pointer;
    transition: 0.3s;
}

.cardWrapper .editIcon:hover {
    color: rgba(30, 30, 97, 0.8);
}