.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    z-index: 10;
}

.modalOverlay .modalContent {
    width: 550px;
    height: 200px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    background: rgb(50, 50, 50);
    /* padding: 20px; */
    border-radius: 10px;
    /* max-width: 380px; */
    box-sizing: border-box;
    font-family: Play, Arial, Helvetica, sans-serif;
    /* font-family: "Roboto", sans-serif; */

    /* border: 3px solid red; */
}

.modalOverlay h3 {
    font-size: 20px;
    font-weight: 300;
}

.modalOverlay .textWrapper {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(215, 215, 215);
    gap: 5px;
}

.modalOverlay .textWrapper p {
    font-size: 18px;
}

.modalOverlay .textWrapper .movie {
    font-weight: 700;
}

.modalOverlay .buttonWrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modalOverlay .buttonWrapper .cancel {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(53, 166, 155);
    transition: 0.3s;
}

.modalOverlay .buttonWrapper .cancel:hover {
    background-color: rgb(53, 166, 155);
    border-radius: 5px;
    border: 1px solid rgba(53, 166, 155, 0);
}

.modalOverlay .buttonWrapper .delete {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(184, 76, 75);
    transition: 0.3s;
}

.modalOverlay .buttonWrapper .delete:hover {
    background-color: rgb(184, 76, 75);
    border-radius: 5px;
    border: 1px solid rgba(53, 166, 155, 0);
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 600px) {    
    .modalOverlay .modalContent {
        width: 94%;
        height:28%;
    }
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}