.searchWrapper {
    width: 20%;
    /* border: 3px solid red */
}

.searchWrapper .textInput {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: rgb(23, 23, 23);
    color: rgba(220, 216, 216, 0.776);
    box-shadow: none;
    border-radius: 4px;
    border: 2px solid hsl(210, 20%, 40%);
    ;
    /* border: 2px solid rgb(161, 148, 173); */
    outline: none;
    /* border: 3px solid red; */
}

.searchWrapper .textInput::placeholder {
    color: rgb(193, 193, 193);
}

.searchWrapper .textInput:focus {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background-color: rgb(23, 23, 23);
    color: rgba(220, 216, 216, 0.776);
    border: 2px solid;
    border-color: #0e79ec;
    outline: none;
}

.suggestionsDropdown {
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: hsl(210, 21.8%, 21.6%);
    color: hsl(0, 0%, 100%);
    /* background-color: white; */
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    border: 1px solid #cccccc37;
    /* border: 1px solid #ccc; */

    /* border: 3px solid red */
}

.suggestionsDropdown li {
    color: hsl(0, 0%, 100%);
    /* color: rgb(0, 0, 0); */
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.suggestionsDropdown li:hover {
    background-color: hsla(210, 35%, 54%, 0.8);
    /* background-color: #f0f0f0; */
}

@media only screen and (max-width: 375px) {}

@media only screen and (min-width: 576px) {}

@media only screen and (max-width: 600px) {
    .searchWrapper {
        width: 94%;
    }
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}