.wrapper {}

button {
    all: unset;
    background-color: rgba(46, 206, 204, 1);
    padding: 10px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgba(46, 206, 204, 0.8);
}