.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: context-menu;
    z-index: 30;
}

.modalOverlay .modalContent {
    width: 80%;
    position: relative;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    max-width: 380px;
    box-sizing: border-box;
    font-family: Play, Arial, Helvetica, sans-serif;
    filter: drop-shadow(0 0 0.75rem #8dc5fe65);
    border: 1px solid rgba(227, 222, 222, 0.1);
}

.modalOverlay .modalContent .contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalContent .contentWrapper .imageWrapper {
    position: relative;
    display: flex;
    flex: 1;
}

.modalContent .contentWrapper .imageWrapper img {
    width: 100%;
    height: 400px;
    border-radius: 5px;
    mask-image: radial-gradient(circle, white 60%, transparent 100%);
    -webkit-mask-image: radial-gradient(circle, white 30%, transparent 100%);
}

.modalContent .contentWrapper .detailsWrapper {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 10px;
    padding: 10px 5px;
    color: rgb(255, 255, 255);
    border-top: 2px solid rgba(193, 193, 93, 0.3);
}

.modalContent .contentWrapper .detailsWrapper h4 {
    font-size: 24px;
    font-weight: 700;
}

.modalContent .contentWrapper .detailsWrapper .detailsWrapperRow {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.modalContent .contentWrapper .detailsWrapper .detailsWrapperRow .detailsWrapperColumn {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modalContent .contentWrapper .detailsWrapper span {
    font-weight: 700;
    color: rgba(234, 255, 0, 0.8);
}

.modalContent .contentWrapper .radioButtons {
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.modalContent .contentWrapper .radioButtons .label {
    font-weight: 700;
    color: rgb(158, 153, 155);
    cursor: pointer;
}

.modalContent .contentWrapper .radioButtons .labelSelected {
    font-weight: 700;
    color: rgb(194, 81, 77);
    text-decoration: underline;
    text-underline-offset: 8px;
}

.modalContent .contentWrapper .radioButtons .radioInput {
    display: none;
}

.modalContent .contentWrapper .radioButtonsInformation {
    width: 100%;
    height: 100px;
    display: flex;
    text-align: start;
    align-items: start;
    justify-content: center;
    padding-left: 5px;
    box-sizing: border-box;
    white-space: wrap;
    overflow-y: auto;
}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 600px) {}

@media only screen and (max-width: 600px) {
    .modalOverlay .modalContent {
        width: 94%;
        height: 94%;
    }

    .modalContent .contentWrapper .imageWrapper {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .modalContent .contentWrapper .imageWrapper img {
        width: 80%;
        height: 300px;
    }
}

@media only screen and (min-width: 576px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}